<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <include resource="org/springframework/boot/logging/logback/file-appender.xml"/>

    <springProperty scope="context" name="log.path" source="counter.sink.log-path"
            defaultValue="/tmp"/>
    <springProperty scope="context" name="instance.blueprint" source="server.port"
            defaultValue="/tmp"/>

    <property name="LOG_FILE" value="${log.path}/counter-monitor-${instance.blueprint}-service.log"/>

    <springProfile name="dev-local">
        <root>
            <appender-ref ref="CONSOLE"/>
        </root>
        <logger name="org.example" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <springProfile name="server">
        <root>
            <appender-ref ref="FILE"/>
        </root>
        <logger name="org.example" additivity="false">
            <appender-ref ref="FILE"/>
        </logger>
    </springProfile>


</configuration>